<html>
<head>
    <title>
        Calculator Webapp
    </title>
</head>>
<body>
    <h2>SUMmer</h2>
    <h3>Find the sum</h3>
    <br>
    <form action="/sum" method="get">
        <label for="sum">Your numbers : </label>
        <input id="sum" type="text" name="sum" placeholder="both number seperated by space">
        <input type="submit" value="sum">
    </form>
    <br>
    <p>The sum of {{ first }} and {{ second }} is <strong>{{ sum }}</strong>

</body>
</html>